# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Debug / test artifacts
test.cjs
test.js
test.html
TestRegex.java
TestRegex.class

# Java
*.class
*.jar
!**/src/main/**/target/

# Node
node_modules/
